In [ ]:
#trinidad beach long-term time series

In [19]:
import pandas as pd
import numpy as np
import sys

import datetime
from datetime import date, time
from datetime import datetime
import pytz

# Matplotlib Library
import matplotlib.pyplot as plt
import matplotlib.dates as mdates

import matplotlib.gridspec as gridspec
from mpl_toolkits.axes_grid1 import make_axes_locatable

import plotly.express as px
import plotly.graph_objs as go
from plotly.subplots import make_subplots
import plotly.io as pio
pio.templates
from plotly.offline import iplot
from plotly import subplots
import dateutil.tz

import calendar

In [20]:
TBEACH_temp=pd.read_excel("/Volumes/sccoos/manual_shore_station/DATA/TEMPERATURE/CURRENT/9_TBEACH/TrinidadBeach_TEMP_1975-20230602.xls") #change excel filename
TBEACH_temp.drop(TBEACH_temp.index[0:44], inplace=True) #change n for [0:n], where n=row containing true headers desired
TBEACH_temp=TBEACH_temp.reset_index(drop=True)
TBEACH_temp.columns=TBEACH_temp.iloc[0]
TBEACH_temp.drop(TBEACH_temp.index[0], inplace=True)
TBEACH_temp=TBEACH_temp.reset_index(drop=True)
TBEACH_temp.drop(TBEACH_temp.columns[[7,8,9,10,11,12]], axis=1, inplace=True)
TBEACH_temp[['TRINIDAD_BEACH_SURF_TEMP_C']]=TBEACH_temp[['TRINIDAD_BEACH_SURF_TEMP_C']].values.astype(float)
TBEACH_temp['DATETIME']=TBEACH_temp['YEAR'].astype(str)+'-'+TBEACH_temp['MONTH'].astype(str)+'-'+TBEACH_temp['DAY'].astype(str)
TBEACH_temp['DATETIME']=pd.to_datetime(TBEACH_temp['DATETIME'])
TBEACH_temp.to_csv('TBEACH_TEMP_20230602.csv', sep=',', na_rep='NaN', header=True, index=False)

In [21]:
TBEACH=pd.read_csv('TBEACH_TEMP_20230109.csv', sep=',')
TBEACH=TBEACH.assign(SURF_TEMP_F = lambda x: (9/5)*x['TRINIDAD_BEACH_SURF_TEMP_C']+32).round(1)
TBEACH.tail(10)

,YEAR,MONTH,DAY,TIME_PST,TIME_FLAG,TRINIDAD_BEACH_SURF_TEMP_C,BEACH_FLAG,DATETIME,SURF_TEMP_F
17673,2023,5,22,1311.0,0.0,11.4,0.0,2023-05-22,52.5
17674,2023,5,23,NaN,0.0,NaN,0.0,2023-05-23,NaN
17675,2023,5,24,NaN,0.0,NaN,0.0,2023-05-24,NaN
17676,2023,5,25,1421.0,0.0,11.9,0.0,2023-05-25,53.4
17677,2023,5,26,NaN,0.0,NaN,0.0,2023-05-26,NaN
17678,2023,5,27,NaN,0.0,NaN,0.0,2023-05-27,NaN
17679,2023,5,28,NaN,0.0,NaN,0.0,2023-05-28,NaN
17680,2023,5,29,NaN,0.0,NaN,0.0,2023-05-29,NaN
17681,2023,5,30,1438.0,0.0,12.8,0.0,2023-05-30,55.0
17682,2023,5,31,1504.0,0.0,13.1,0.0,2023-05-31,55.6

In [22]:
TBEACH.loc[TBEACH['YEAR']==2022]
TBEACH_drop=TBEACH.drop(TBEACH.index[17531:])
TBEACH_drop

,YEAR,MONTH,DAY,TIME_PST,TIME_FLAG,TRINIDAD_BEACH_SURF_TEMP_C,BEACH_FLAG,DATETIME,SURF_TEMP_F
0,1975,1,1,NaN,NaN,7.9,NaN,1975-01-01,46.2
1,1975,1,2,NaN,NaN,NaN,NaN,1975-01-02,NaN
2,1975,1,3,NaN,NaN,8.0,NaN,1975-01-03,46.4
3,1975,1,4,NaN,NaN,8.4,NaN,1975-01-04,47.1
4,1975,1,5,NaN,NaN,8.3,NaN,1975-01-05,46.9
...,...,...,...,...,...,...,...,...,...
17526,2022,12,26,NaN,0.0,NaN,0.0,2022-12-26,NaN
17527,2022,12,27,NaN,0.0,NaN,0.0,2022-12-27,NaN
17528,2022,12,28,NaN,0.0,NaN,0.0,2022-12-28,NaN
17529,2022,12,29,NaN,0.0,NaN,0.0,2022-12-29,NaN
17530,2022,12,30,NaN,0.0,NaN,0.0,2022-12-30,NaN

In [23]:
TBEACH_yr_avg=TBEACH_drop.groupby(['YEAR'],as_index=False).mean()
TBEACH_yr_avg

,YEAR,MONTH,DAY,TIME_PST,TIME_FLAG,TRINIDAD_BEACH_SURF_TEMP_C,BEACH_FLAG,SURF_TEMP_F
0,1975,6.526027,15.720548,NaN,NaN,10.269615,NaN,50.481538
1,1976,6.513661,15.756831,NaN,NaN,10.810900,NaN,51.453555
2,1977,6.526027,15.720548,NaN,NaN,11.148789,NaN,52.065744
3,1978,6.526027,15.720548,NaN,NaN,11.298540,NaN,52.339051
4,1979,6.526027,15.720548,NaN,NaN,11.216981,NaN,52.191321
5,1980,6.513661,15.756831,NaN,NaN,11.165198,NaN,52.093833
6,1981,6.526027,15.720548,NaN,NaN,11.870616,NaN,53.365403
7,1982,6.526027,15.720548,NaN,NaN,11.709778,NaN,53.077778
8,1983,6.526027,15.720548,NaN,NaN,13.003810,NaN,55.406190
9,1984,6.513661,15.756831,NaN,NaN,11.638521,NaN,52.952140
10,1985,6.526027,15.720548,NaN,NaN,11.349798,NaN,52.431984
11,1986,6.526027,15.720548,NaN,NaN,12.044710,NaN,53.676451
12,1987,6.526027,15.720548,NaN,NaN,12.069091,NaN,53.724000
13,1988,6.513661,15.756831,NaN,NaN,11.661261,NaN,52.990090
14,1989,6.526027,15.720548,NaN,NaN,11.555303,NaN,52.798485
15,1990,6.526027,15.720548,NaN,NaN,11.482540,NaN,52.668651
16,1991,6.526027,15.720548,NaN,NaN,10.893407,NaN,51.604762
17,1992,6.513661,15.756831,NaN,NaN,12.650000,NaN,54.767424
18,1993,6.526027,15.720548,NaN,NaN,11.983448,NaN,53.571724
19,1994,6.526027,15.720548,NaN,NaN,12.406211,NaN,54.328571
20,1995,6.526027,15.720548,NaN,NaN,12.735252,0.000000,54.920863
21,1996,6.513661,15.756831,NaN,NaN,11.144030,0.000000,52.056716
22,1997,6.526027,15.720548,NaN,NaN,12.017333,0.000000,53.630000
23,1998,6.526027,15.720548,NaN,NaN,12.017576,0.000000,53.630909
24,1999,6.526027,15.720548,NaN,NaN,11.368493,0.000000,52.462329
25,2000,6.513661,15.756831,1148.618090,0.103825,11.820423,0.068306,53.276056
26,2001,6.526027,15.720548,1159.879032,0.065753,11.557778,0.073973,52.802667
27,2002,6.526027,15.720548,1180.447761,0.104110,11.689024,0.090411,53.037398
28,2003,6.526027,15.720548,1115.502646,0.043836,12.194857,0.038356,53.951429
29,2004,6.513661,15.756831,1106.675127,0.027322,12.136126,0.019126,53.843979
30,2005,6.526027,15.720548,1043.011765,0.000000,12.295882,0.019178,54.131176
31,2006,6.526027,15.720548,1129.876147,0.043836,11.805634,0.068493,53.251174
32,2007,6.526027,15.720548,1147.699454,0.049315,11.397753,0.082192,52.512360
33,2008,6.513661,15.756831,1032.305000,0.021858,11.057071,0.068306,51.902525
34,2009,6.526027,15.720548,1096.096591,0.084932,10.915294,0.205479,51.645294
35,2010,6.526027,15.720548,1012.858491,0.016438,11.263725,0.016438,52.274020
36,2011,6.526027,15.720548,1075.849765,0.027397,11.676077,0.005479,53.015789
37,2012,6.513661,15.756831,1110.379310,0.010929,11.785903,0.005464,53.215859
38,2013,6.526027,15.720548,1133.850467,0.000000,11.478922,0.010959,52.661275
39,2014,6.526027,15.720548,1117.203980,0.079452,13.047917,0.021918,55.485937
40,2015,6.526027,15.720548,1078.739884,0.079452,13.033136,1.200000,55.456213
41,2016,6.513661,15.756831,1023.882096,0.010929,12.610476,1.040984,54.698095
42,2017,6.526027,15.720548,1170.989011,0.000000,12.094253,0.010959,53.773563
43,2018,6.526027,15.720548,1067.510288,0.008219,11.692797,0.000000,53.048729
44,2019,6.526027,15.720548,1137.370213,0.093151,12.295238,0.024658,54.130303
45,2020,6.513661,15.756831,1126.296610,0.000000,11.846789,0.010929,53.324771
46,2021,6.526027,15.720548,1305.000000,0.030137,12.284746,0.024658,54.114407
47,2022,6.510989,15.678571,1230.552448,0.035714,11.950704,0.013736,53.515493

In [24]:
TBEACH_yr_avg['DAY']=TBEACH_yr_avg['DAY'].astype('int')
TBEACH_yr_avg['MONTH']=TBEACH_yr_avg['MONTH'].astype(np.int)
TBEACH_yr_avg

/var/folders/69/cbrnkm0j709dqnkmhv8wnwgw0000gp/T/ipykernel_79969/1604154329.py:2: DeprecationWarning:

`np.int` is a deprecated alias for the builtin `int`. To silence this warning, use `int` by itself. Doing this will not modify any behavior and is safe. When replacing `np.int`, you may wish to use e.g. `np.int64` or `np.int32` to specify the precision. If you wish to review your current use, check the release note link for additional information.
Deprecated in NumPy 1.20; for more details and guidance: https://urldefense.com/v3/__https://numpy.org/devdocs/release/1.20.0-notes.html*deprecations*5Cn__;IyU!!Mih3wA!ECMw-pnvAf1Sroy_iDi7Ofvx4pFFm9wyomry9SAtjw2cBFUvfo5F0ejQ5c_C7pZrWvBmXmE8duvEkPg3-LU$

,YEAR,MONTH,DAY,TIME_PST,TIME_FLAG,TRINIDAD_BEACH_SURF_TEMP_C,BEACH_FLAG,SURF_TEMP_F
0,1975,6,15,NaN,NaN,10.269615,NaN,50.481538
1,1976,6,15,NaN,NaN,10.810900,NaN,51.453555
2,1977,6,15,NaN,NaN,11.148789,NaN,52.065744
3,1978,6,15,NaN,NaN,11.298540,NaN,52.339051
4,1979,6,15,NaN,NaN,11.216981,NaN,52.191321
5,1980,6,15,NaN,NaN,11.165198,NaN,52.093833
6,1981,6,15,NaN,NaN,11.870616,NaN,53.365403
7,1982,6,15,NaN,NaN,11.709778,NaN,53.077778
8,1983,6,15,NaN,NaN,13.003810,NaN,55.406190
9,1984,6,15,NaN,NaN,11.638521,NaN,52.952140
10,1985,6,15,NaN,NaN,11.349798,NaN,52.431984
11,1986,6,15,NaN,NaN,12.044710,NaN,53.676451
12,1987,6,15,NaN,NaN,12.069091,NaN,53.724000
13,1988,6,15,NaN,NaN,11.661261,NaN,52.990090
14,1989,6,15,NaN,NaN,11.555303,NaN,52.798485
15,1990,6,15,NaN,NaN,11.482540,NaN,52.668651
16,1991,6,15,NaN,NaN,10.893407,NaN,51.604762
17,1992,6,15,NaN,NaN,12.650000,NaN,54.767424
18,1993,6,15,NaN,NaN,11.983448,NaN,53.571724
19,1994,6,15,NaN,NaN,12.406211,NaN,54.328571
20,1995,6,15,NaN,NaN,12.735252,0.000000,54.920863
21,1996,6,15,NaN,NaN,11.144030,0.000000,52.056716
22,1997,6,15,NaN,NaN,12.017333,0.000000,53.630000
23,1998,6,15,NaN,NaN,12.017576,0.000000,53.630909
24,1999,6,15,NaN,NaN,11.368493,0.000000,52.462329
25,2000,6,15,1148.618090,0.103825,11.820423,0.068306,53.276056
26,2001,6,15,1159.879032,0.065753,11.557778,0.073973,52.802667
27,2002,6,15,1180.447761,0.104110,11.689024,0.090411,53.037398
28,2003,6,15,1115.502646,0.043836,12.194857,0.038356,53.951429
29,2004,6,15,1106.675127,0.027322,12.136126,0.019126,53.843979
30,2005,6,15,1043.011765,0.000000,12.295882,0.019178,54.131176
31,2006,6,15,1129.876147,0.043836,11.805634,0.068493,53.251174
32,2007,6,15,1147.699454,0.049315,11.397753,0.082192,52.512360
33,2008,6,15,1032.305000,0.021858,11.057071,0.068306,51.902525
34,2009,6,15,1096.096591,0.084932,10.915294,0.205479,51.645294
35,2010,6,15,1012.858491,0.016438,11.263725,0.016438,52.274020
36,2011,6,15,1075.849765,0.027397,11.676077,0.005479,53.015789
37,2012,6,15,1110.379310,0.010929,11.785903,0.005464,53.215859
38,2013,6,15,1133.850467,0.000000,11.478922,0.010959,52.661275
39,2014,6,15,1117.203980,0.079452,13.047917,0.021918,55.485937
40,2015,6,15,1078.739884,0.079452,13.033136,1.200000,55.456213
41,2016,6,15,1023.882096,0.010929,12.610476,1.040984,54.698095
42,2017,6,15,1170.989011,0.000000,12.094253,0.010959,53.773563
43,2018,6,15,1067.510288,0.008219,11.692797,0.000000,53.048729
44,2019,6,15,1137.370213,0.093151,12.295238,0.024658,54.130303
45,2020,6,15,1126.296610,0.000000,11.846789,0.010929,53.324771
46,2021,6,15,1305.000000,0.030137,12.284746,0.024658,54.114407
47,2022,6,15,1230.552448,0.035714,11.950704,0.013736,53.515493

In [26]:
TBEACH_yr_avg['DATETIME']=TBEACH_yr_avg['YEAR'].astype(str)+'-'+TBEACH_yr_avg['MONTH'].astype(str)+'-'+TBEACH_yr_avg['DAY'].astype(str)
TBEACH_yr_avg['DATETIME']=pd.to_datetime(TBEACH_yr_avg['DATETIME'])
#datetime.now(datetime.timezone.utc)
#new_datetime=TBEACH_yr_avg['DATETIME'].replace(tzinfo=dateutil.tz.tzutc())

#TBEACH_yr_avg['DATETIME']=TBEACH_yr_avg['DATETIME'].apply(lambda old_datetime: old_datetime.replace(tzinfo=zoneinfo.tzutc()))
#pd.to_datetime(TBEACH_yr_avg['DATETIME']).dt.tz_convert('UTC')
#TBEACH_yr_avg['DATETIME'].dt.tz_localize(None)
#pd.to_datetime(TBEACH_yr_avg['DATETIME']).dt.tz_localize(None).dt.tz_convert('UTC')

#TBEACH_yr_avg['DATETIME']=pd.to_datetime(TBEACH_yr_avg['DATETIME'], utc=True)
#TBEACH_yr_avg.DATETIME.dt.tz_convert('UTC')
TBEACH_yr_avg['Year'] = TBEACH_yr_avg['DATETIME'].dt.year
TBEACH_yr_avg['Month'] = TBEACH_yr_avg['DATETIME'].dt.month
TBEACH_yr_avg['Day'] = TBEACH_yr_avg['DATETIME'].dt.day

TBEACH_yr_avg['Date']=TBEACH_yr_avg['Year'].astype(str)+'-'+TBEACH_yr_avg['Month'].astype(str)+'-'+TBEACH_yr_avg['Day'].astype(str)
TBEACH_yr_avg['Date']=pd.to_datetime(TBEACH_yr_avg['Date'])

TBEACH_yr_avg

,YEAR,MONTH,DAY,TIME_PST,TIME_FLAG,TRINIDAD_BEACH_SURF_TEMP_C,BEACH_FLAG,SURF_TEMP_F,DATETIME,Year,Month,Day,Date
0,1975,6,15,NaN,NaN,10.269615,NaN,50.481538,1975-06-15,1975,6,15,1975-06-15
1,1976,6,15,NaN,NaN,10.810900,NaN,51.453555,1976-06-15,1976,6,15,1976-06-15
2,1977,6,15,NaN,NaN,11.148789,NaN,52.065744,1977-06-15,1977,6,15,1977-06-15
3,1978,6,15,NaN,NaN,11.298540,NaN,52.339051,1978-06-15,1978,6,15,1978-06-15
4,1979,6,15,NaN,NaN,11.216981,NaN,52.191321,1979-06-15,1979,6,15,1979-06-15
5,1980,6,15,NaN,NaN,11.165198,NaN,52.093833,1980-06-15,1980,6,15,1980-06-15
6,1981,6,15,NaN,NaN,11.870616,NaN,53.365403,1981-06-15,1981,6,15,1981-06-15
7,1982,6,15,NaN,NaN,11.709778,NaN,53.077778,1982-06-15,1982,6,15,1982-06-15
8,1983,6,15,NaN,NaN,13.003810,NaN,55.406190,1983-06-15,1983,6,15,1983-06-15
9,1984,6,15,NaN,NaN,11.638521,NaN,52.952140,1984-06-15,1984,6,15,1984-06-15
10,1985,6,15,NaN,NaN,11.349798,NaN,52.431984,1985-06-15,1985,6,15,1985-06-15
11,1986,6,15,NaN,NaN,12.044710,NaN,53.676451,1986-06-15,1986,6,15,1986-06-15
12,1987,6,15,NaN,NaN,12.069091,NaN,53.724000,1987-06-15,1987,6,15,1987-06-15
13,1988,6,15,NaN,NaN,11.661261,NaN,52.990090,1988-06-15,1988,6,15,1988-06-15
14,1989,6,15,NaN,NaN,11.555303,NaN,52.798485,1989-06-15,1989,6,15,1989-06-15
15,1990,6,15,NaN,NaN,11.482540,NaN,52.668651,1990-06-15,1990,6,15,1990-06-15
16,1991,6,15,NaN,NaN,10.893407,NaN,51.604762,1991-06-15,1991,6,15,1991-06-15
17,1992,6,15,NaN,NaN,12.650000,NaN,54.767424,1992-06-15,1992,6,15,1992-06-15
18,1993,6,15,NaN,NaN,11.983448,NaN,53.571724,1993-06-15,1993,6,15,1993-06-15
19,1994,6,15,NaN,NaN,12.406211,NaN,54.328571,1994-06-15,1994,6,15,1994-06-15
20,1995,6,15,NaN,NaN,12.735252,0.000000,54.920863,1995-06-15,1995,6,15,1995-06-15
21,1996,6,15,NaN,NaN,11.144030,0.000000,52.056716,1996-06-15,1996,6,15,1996-06-15
22,1997,6,15,NaN,NaN,12.017333,0.000000,53.630000,1997-06-15,1997,6,15,1997-06-15
23,1998,6,15,NaN,NaN,12.017576,0.000000,53.630909,1998-06-15,1998,6,15,1998-06-15
24,1999,6,15,NaN,NaN,11.368493,0.000000,52.462329,1999-06-15,1999,6,15,1999-06-15
25,2000,6,15,1148.618090,0.103825,11.820423,0.068306,53.276056,2000-06-15,2000,6,15,2000-06-15
26,2001,6,15,1159.879032,0.065753,11.557778,0.073973,52.802667,2001-06-15,2001,6,15,2001-06-15
27,2002,6,15,1180.447761,0.104110,11.689024,0.090411,53.037398,2002-06-15,2002,6,15,2002-06-15
28,2003,6,15,1115.502646,0.043836,12.194857,0.038356,53.951429,2003-06-15,2003,6,15,2003-06-15
29,2004,6,15,1106.675127,0.027322,12.136126,0.019126,53.843979,2004-06-15,2004,6,15,2004-06-15
30,2005,6,15,1043.011765,0.000000,12.295882,0.019178,54.131176,2005-06-15,2005,6,15,2005-06-15
31,2006,6,15,1129.876147,0.043836,11.805634,0.068493,53.251174,2006-06-15,2006,6,15,2006-06-15
32,2007,6,15,1147.699454,0.049315,11.397753,0.082192,52.512360,2007-06-15,2007,6,15,2007-06-15
33,2008,6,15,1032.305000,0.021858,11.057071,0.068306,51.902525,2008-06-15,2008,6,15,2008-06-15
34,2009,6,15,1096.096591,0.084932,10.915294,0.205479,51.645294,2009-06-15,2009,6,15,2009-06-15
35,2010,6,15,1012.858491,0.016438,11.263725,0.016438,52.274020,2010-06-15,2010,6,15,2010-06-15
36,2011,6,15,1075.849765,0.027397,11.676077,0.005479,53.015789,2011-06-15,2011,6,15,2011-06-15
37,2012,6,15,1110.379310,0.010929,11.785903,0.005464,53.215859,2012-06-15,2012,6,15,2012-06-15
38,2013,6,15,1133.850467,0.000000,11.478922,0.010959,52.661275,2013-06-15,2013,6,15,2013-06-15
39,2014,6,15,1117.203980,0.079452,13.047917,0.021918,55.485937,2014-06-15,2014,6,15,2014-06-15
40,2015,6,15,1078.739884,0.079452,13.033136,1.200000,55.456213,2015-06-15,2015,6,15,2015-06-15
41,2016,6,15,1023.882096,0.010929,12.610476,1.040984,54.698095,2016-06-15,2016,6,15,2016-06-15
42,2017,6,15,1170.989011,0.000000,12.094253,0.010959,53.773563,2017-06-15,2017,6,15,2017-06-15
43,2018,6,15,1067.510288,0.008219,11.692797,0.000000,53.048729,2018-06-15,2018,6,15,2018-06-15
44,2019,6,15,1137.370213,0.093151,12.295238,0.024658,54.130303,2019-06-15,2019,6,15,2019-06-15
45,2020,6,15,1126.296610,0.000000,11.846789,0.010929,53.324771,2020-06-15,2020,6,15,2020-06-15
46,2021,6,15,1305.000000,0.030137,12.284746,0.024658,54.114407,2021-06-15,2021,6,15,2021-06-15
47,2022,6,15,1230.552448,0.035714,11.950704,0.013736,53.515493,2022-06-15,2022,6,15,2022-06-15

In [32]:
# Set size of figure:
fig=go.Figure()

#Not sure what this does exactly? 
ax=plt.axes()

# Select the Data to plot: ax.scatter =scatter plot, ax.plot= line graph
ax.scatter(TBEACH_drop['DATETIME'], TBEACH_drop['TRINIDAD_BEACH_SURF_TEMP_C'], c='lightskyblue', s=10, label='Daily Measurement', zorder=10) 
ax.plot(TBEACH_yr_avg['DATETIME'], TBEACH_yr_avg['TRINIDAD_BEACH_SURF_TEMP_C'], c='midnightblue', linewidth=3, label='Annual Mean', zorder=20)

# Formating Plot
plt.grid(False) #Gridlines
plt.legend(loc='upper left') #location of legend

#Set y label
ax.set_ylabel('Seawater pH', fontdict={'size':18})
plt.yticks(fontsize=15) #Increase size of ticks/font on yaxis 

# Modify size of x-axis text
plt.xticks(tzinfo=None)

#Create Title
plt.title('Newport Beach 2020-2022', fontdict={'size':23})

plt.show()
#plt.savefig('plot name.png',bbox_inches='tight')

TypeError: tzinfo argument must be None or of a tzinfo subclass, not type 'UnitData'

TypeError: tzinfo argument must be None or of a tzinfo subclass, not type 'UnitData'

In [ ]:
fig, ax = plt.subplots()
ax.plot(TBEACH_drop['DATETIME'], TBEACH_drop['TRINIDAD_BEACH_SURF_TEMP_C'], marker='.', linestyle='-', linewidth = 0.5, label='Daily', color='lightskyblue')
ax.plot(TBEACH_yr_avg['DATETIME'], TBEACH_yr_avg['TRINIDAD_BEACH_SURF_TEMP_C'], marker='o', markersize=8, linestyle='-', linewidth = 3, label='Weekly', color='midnightblue')

In [ ]:
#first bottom plot with incorrect style
plt.rcParams['figure.figsize'] = (26,8)

fig, ax = plt.subplots()
ax2 = ax.twinx()

line1=ax.plot(TBEACH_yr_avg['DATETIME'], TBEACH_yr_avg['TRINIDAD_BEACH_SURF_TEMP_C'], c='midnightblue', linewidth=3, label='Average Daily Sea Surface Temperature (ËšC) since 1926', zorder=10)

line2=ax.scatter(TBEACH_drop['DATETIME'], TBEACH_drop['TRINIDAD_BEACH_SURF_TEMP_C'], c='lightskyblue', linewidth=1, label='Sea Surface Temperature (ËšC)', zorder=10)
ax.set_ylabel('Temperature (ËšC)', fontdict={'size':18})
ax2.set_ylabel('Temperature (ËšF)', fontdict={'size':18})
ax.legend(['Average Daily Sea Bottom Temperature (ËšC) since 1926', '2023 Daily Sea Bottom Temperature (ËšC)'], loc='lower right',fontsize = 15)

# set twin scale (convert degree celsius to fahrenheit)
T_f = lambda T_c: T_c*1.8 + 32.
# get left axis limits
ymin, ymax = ax.get_ylim()
# apply function and set transformed values to right axis limits
ax2.set_ylim((T_f(ymin),T_f(ymax)))
# set an invisible artist to twin axes 
# to prevent falling back to initial values on rescale events
ax2.plot([],[])

# Formating Plot
plt.grid(False) #Gridlines

ax.set_xlabel('Day', fontdict={'size':18})

plt.title('Scripps Pier, La Jolla Sea Bottom Temperature - Current vs Long-term Average (Last 30 Days)', fontdict={'size':23})

plt.text(0, 55.25, "Latest Data Point:\n{}".format(DATE), fontsize = 22, style='italic')
plt.text(0, 55, "SST={}ËšC".format(SIO_TEMP_C_BOT), fontsize = 25, fontweight='bold', c='hotpink')
plt.text(0, 54.75, "SST={}ËšF".format(SIO_TEMP_F_BOT), fontsize = 25, fontweight='bold', c='hotpink')


params = {'legend.fontsize': 'large',
          'figure.figsize': (26,8),
          'axes.labelsize': 15,
          'axes.titlesize': 18,
          'xtick.labelsize': 15,
          'ytick.labelsize': 15,
          'axes.titlepad': 15}
plt.rcParams.update(params)